img/archive
**/.DS_Store
img/diffusion.gif
blogs/arbg/blog_videos/robin_text.mp4
blogs/arbg/blog_videos/robin_old.mp4
blogs/arbg/blog_videos/WTYAFAHS_old.mp4
blogs/arbg/blog_videos/WTYAFAHS.mp4
blogs/arbg/blog_figures/pdf/
